body, html {
    background-color: black;
    display: flex;
    justify-content:center;
    align-items:center ;
    width:100%;
    height:100%;
    font-family:monospace;
    flex-wrap:wrap;
    flex-direction:column;
    align-content: space-evenly;
}

#grid {
    background-color:#7c7f84;
    border:6px solid #271717da;
    width:900px;
    height:480px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
}

.cell {
    width: 28px;
    height: 28px;
    border: 1px solid #bfbfbf;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
}

.button {
    width: 30px;
    height: 30px;
    margin-right:0px;
    margin-left:-30px;
    margin-top:0px;
    margin-bottom:0px;
    padding:0;
    z-index:1000;
}

.mine {
    width:100%;
    height:100%;
}

h1 {
    color:white;
    margin-bottom:20px;
    font-size:30px;
}

.resetBtn {
    margin: 10px 5px 0px 5px;
    width:150px;
    height:40px;
    background-color: #481721;
    font-family:monospace;
    font-size:15px;
    color:white;
}

.score {
    color:white;
    margin-bottom: 10px;
}

footer {
    color:white;
    bottom:0;
    position:absolute;
    padding:10px;
}