body, html {
    background-color: black;
    display: flex;
    justify-content:center;
    align-items:center ;
    width:100%;
    height:100%;
    font-family:monospace;
    flex-wrap:wrap;
    flex-direction:column;
    align-content: space-evenly;
    margin:0;
}

#grid {
    background-color:#7c7f84;
    border:6px solid #271717da;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-content:flex-start;
}

.cell {
    display: flex;
    justify-content:center;
    align-items:center;
}

 .button {
    z-index:1000;
    display: flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%; 
    visibility: visible;
    background-color:#7f7f7f;
 }
 .button_div {
    opacity:1;
    background-color:#00000000;
    z-index:1000;
    display: flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    font-family:monospace;
    flex-wrap:wrap;
    flex-direction:column;
    align-content: space-evenly;
    visibility: visible;
}
.mine {
    width:100%;
    height:100%;
    z-index:0;
}

h1 {
    color:white;
    margin-bottom:20px;
    font-size:30px;
}

.resetBtn {
    margin: 10px 5px 0px 5px;
    width:150px;
    height:40px;
    background-color: #481721;
    font-family:monospace;
    font-size:15px;
    color:white;
}

footer {
    color:white;
    bottom:0;
    position:absolute;
    padding:10px;
}

.menu {
    opacity:1;
    filter: alpha(opacity=20);
    background-color:#2d4c51;
    z-index:1000;
    top:0;
    left:0;
    position:fixed;
    display: flex;
    visibility:hidden;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    font-family:monospace;
    flex-wrap:wrap;
    flex-direction:column;
    align-content: space-evenly;
}

.slidecontainer {
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;
    width: 500px;
    height: 16px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius:10px;
}

.slider:hover {
    opacity: 1;
}

.details {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

.timer, .score {
    color:white;
    font-size:20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background-image:url("images/mine.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background-image:url("images/mine.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.menu-item {
    display:flex;
    justify-content:center;
    flex-wrap:nowrap;
    width:100%;
    align-items:center;
    color:white;
}

#btn_div {
    visibility: visible;
}

.grid_menu {
    position:absolute;
    background-color:#2d4c51;
    z-index:1001;
    display: flex;
    visibility:hidden;
    justify-content:center;
    align-items:center;
    font-family:monospace;
    flex-wrap:wrap;
    flex-direction:column;
    align-content: space-evenly;
}